# Python
__pycache__/
*.pyc
.venv/
venv/

#Chroma notebook
chroma.ipynb 

# Environment files
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# text 
cricket.txt 

# pdf 
dl-curriculum.pdf

# vector store
my_chroma_db